.certifications-container {
  text-align: center;
  padding: 4rem 2rem;
  background-color: #f5f5f5;
  border-radius: 12px;
  margin: 7rem 2rem;
}

.certifications-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #24292e;
}


.certifications-description {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
  max-width: 750px;
  margin: 0 auto;
}
